/**
 * Module dependencies
 */

@require 'shoelace-ui-clear'
@require './variables'

.container
  clear fix
  margin-right auto
  margin-left auto
  padding-left container--spacing
  padding-right container--spacing
  if container--bg isnt inherit
    background container--bg
